'menu': [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Highlight Simple'
        submenu: [
          { label: 'Toggle', command: 'highlight-simple:toggle' }
        ]
      }
    ]
  }
]
